/* CSS declarations go here */
h1,h1.ui.dividing.header {
  padding: 1em 0;
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}


img {
  max-width: 100%;
  height: auto;
}

body {

}

#createAnnotation label {
  display:none;
}


/* social share button styles */

.social-button-group {
  display: inline-block;
  margin: 0 8px;
}
.social-button-group a {
  text-decoration: none;
  color: grey;
}
.social-button-group a:hover {
  color: black;
}
.social-button-group span {
  margin-left: 5px;
  color: grey;
  font-size: 0.8em;
}

/*//slick.js carousel*/
/*default theme from package example - need to semantic it up */


#carousel {
  width: 500px;
  margin: 0 auto 35px auto;
}
.slick-slider {
  margin: 0 5px 35px 5px;
}

.slick-slider img {
  width: 100%;
  max-width: 100%;
}

.slick-slide {
  padding: 0 10px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  height: 10px;
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  padding: 0;
  margin: 0 7px;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  color: transparent;
  background-color: #C3C3C3;
  outline: none;
  padding: 0;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  background-color: #505050;
}

.slick-dots li.slick-active button {
  background-color: #505050;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 0;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: -17px 0 0 0;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  z-index: 1;

}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover, .slick-next:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.slick-prev:before, .slick-next:before {
  content: '';
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  margin: 0 auto;
}

.slick-prev {
  left: 0px;
}

.slick-prev:before {
  left: 2px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.slick-next {
  right: 0px;
}

.slick-next:before {
  right: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


div#footer {
  background: teal;
}


@media all and (min-width:631px) {
  .at-grid {
    max-width: 50%;
    margin: 0 auto !important;

  }

}