/* CSS declarations go here */
h1,.ui.dividing.header {
  padding: 1em 0;
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}


body {

}



/* social share button styles */

.social-button-group {
  display: inline-block;
  margin: 0 8px;
}
.social-button-group a {
  text-decoration: none;
  color: grey;
}
.social-button-group a:hover {
  color: black;
}
.social-button-group span {
  margin-left: 5px;
  color: grey;
  font-size: 0.8em;
}
