<template name="addAnnotation">

    {{#autoForm collection="Annotations" id="createAnnotation" class="ui form" type="insert" itemId=_id}}
        <legend></legend>

        <div class="ui field no-label">
                {{ > afQuickField name="itemId" value=_id style="display: none;" }}

                {{> afQuickField name="body" rows=6 class="ui input"}}

        </div>



        <div class="ui field">
                {{> afQuickField name="publish" type="boolean-select" trueLabel="Public" falseLabel="Private"}}


        </div>

        <button type="submit" class="ui labeled icon bottom attached button">
            <i class="right arrow icon"></i>
            Submit
        </button>
    {{/autoForm}}

</template>
