<template name="addAnnotation">

    {{#autoForm collection="Annotations" id="createAnnotation" class="ui reply form" type="insert" itemId=_id}}
        <legend></legend>
        {{ > afQuickField name="itemId" value=_id style="display: none;" }}
        <div class="ui field">
                {{> afQuickField name='body' rows=6 class='ui input fluid'}}
        </div>


        <button type="submit" class="ui right labeled icon button">
            <i class="left arrow icon"></i>
            Submit
        </button>
    {{/autoForm}}

</template>
