<template name="browse_by_category" xmlns="http://www.w3.org/1999/html">
    <div class="column">

        <div class="ui grid" id="mainContent">
            <h4 class="ui horizontal header divider">
                <a href="#">BROWSE THE COLLECTION BY {{currentCategory}}</a>
            </h4>
            {{#each categoryItems}}


                <div class="four wide column">
                        {{>item}}
                </div>


            {{else}}
                <div class="center aligned one column row">
                    <div class="column">
                    <div class="ui info message">

                        <div class="header">
                    Uh oh.
                </div>
                        <p>Sorry, there don't seem to be any items in this category at the moment.</p>
                    </div>
                </div>
                </div>
            {{/each}}

        </div>


    </div>

</template>
