<!-- header.html -->

<template name="header">
  <div class="ui menu" data-topbar role="navigation">
    <div class="header item"><a href="{{pathFor 'home'}}">Curatorial</a></div>
    <a href="{{pathFor 'Admin'}}" class="item">Admin</a> {{#if currentUser}} {{> atNavButton}} {{/if}}
    <a href="{{pathFor 'about'}}" class="item">About</a>

    <a href="{{pathFor 'contact'}}" class="item">Contact</a>
    {{#if currentUser}}

    <a href="{{pathFor 'myCollection'}}" class="item">My collection</a>
    {{/if}}


  </div>

</template>
