<!-- header.html -->

<template name="header">
  <div class="ui menu" data-topbar role="navigation">
    <div class="header item"><a href="{{pathFor 'home'}}" class="name">Curatorial</a></div>
    <a href="{{pathFor 'about'}}" class="item">About</a>

    <a href="{{pathFor 'contact'}}" class="item">Contact</a>
    {{#if currentUser}}

    <a href="{{pathFor 'myCollection'}}" class="item">My collection</a>
    {{/if}}

      <div class="right menu">

          {{> atNavButton}}
      </div>
  </div>

</template>
