<template name="home">

    <div class="ui raised very padded text container segment">
        <h2 class="ui header">About this collection</h2>

       <p>View the collection and collect and annotate your own collection</p>
        <p>Just click on the collect button <i class="fa fa-thumbs-up"></i> when viewing items that you want to keep and add your own annotations to items in your collection.</p>

        <p>Browse the <a href="{{pathFor 'fullCollection'}}">full collection</a></p>

    </div>


    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Slideshow view</h2>
                    <h3><i class="icon browser"></i> Browse the collection <a href="{{pathFor 'slideshow'}}" class="item">as a slideshow</a>
                    </h3>


                </div>
    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Categories</h2>
                    <h3><i class="icon tags"></i> Browse the items <a href="{{pathFor 'categories'}}" class="item">by category</a>
                    </h3>


                </div>

    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Search</h2>
                    <h3><i class="icon find"></i> Search the collection by keyword </h3>
                    {{> searchBox}}
                </div>



</template>
