<template name="home">
  <div class="ui container">
    <h1 class="ui dividing header centered">Curatorial</h1>
    <p>View the collection and collect and annotate your own collection</p>
    <div class="ui divider"></div>
    <div class="ui dividing right rail">

                 {{>categories}}

                </div>
                 <div class="column">

                                 <p class="ui medium header">All items</p>
               {{>items}}


              </div>
</div>
</template>
