<template name="itemShow">
    <div class="ui two column centered grid">
        <div class="column">

      <div class="ui fluid card">
        <div class="ui top attached header"><h2><a href="/item/{{_id}}" class="header">{{title}}</a></h2>
        </div>
        <div class="image">

          <a href="/item/{{_id}}">
            <img src='{{url}}'>
          </a>
        </div>

        <div class="content">

          <div class="meta">Format: {{medium}}
            <br /> Date: {{date}}
            <br /> Artist: {{artist}}

          </div>
          <div class="description">
            {{description}}
          </div>

          {{#if currentUser}}

          <div class="extra content">
         <span class="right floated">      {{> favoriteButton _id=_id}} || {{favoriteCount _id}}</span>


          </div>

          {{/if}} {{> social_buttons url=currentPage text=title}}

          <div class="comments">

            <ul class="annoations">

              {{#each annotations}} {{> annotation}} {{/each}}
            </ul>
          </div>

        </div>
      </div>
            <!-- //only logged-in users can create Annotations -->
            {{#if currentUser}}


                <div class="ui comments">
                    <h3 class="ui dividing header">Annotations/Notes</h3>

                    <ul class="annoations">
                        {{#each annotations}} {{> annotation}} {{/each}}

                    </ul>

                    {{> addAnnotation}}
                </div>

            {{/if}}
    </div>



  </div>
  <!-- end of centered column -->



</template>
