<template name="itemShow">
    <div class="ui column centered grid">
  {{> item}}



<!-- //only logged-in users can create Annotations -->
  {{#if currentUser}}

  <div class="row">

    <div class="ui comments">
      <h3 class="ui dividing header">Annotations/Notes</h3>

      <ul class="annoations">
        {{#each annotations}}
        {{> annotation}}

        {{/each}}

      </ul>

      {{> addAnnotation}}
    </div></div>

  {{/if}}
  </div> <!-- end of centered column -->





</template>
