<template name="layout">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900italic,700italic,700,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900italic,900,700italic,700,400italic' rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Calligraffitti&subset=latin" rel="stylesheet" type="text/css">


    </head>
    <body>

    {{> header}}
    <div class="ui left demo vertical visibile inverted sidebar labeled icon menu">
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            Topics
        </a>
        <a class="item">
            <i class="smile icon"></i>
            Friends
        </a>
    </div>

        <!-- Site content !-->
    <div class="pusher">
        <h1 class="ui dividing inverted header centered banner">curatorial</h1>
        <div class="ui container">

    {{> yield}}
    </div>
</div>
    {{> footer}}

    </body>
</template>
