<template name="myCollection">

        <h1 class="ui header">My Collection</h1>
        {{#if currentUser}}
            <h2>
                <!-- Welcome, {{ currentUserName }} or {{name}} -->
            </h2>
        {{/if}}

        {{#if Favorites 'Items'}}

            <div class="ui four column grid stackable">

                {{#each Favorites 'Items'}}
                    <!--{{#sortable items=Items}}-->
                        <div class="column">
                            <div class="ui card">
                                <div class="image">

                                    <img src='{{url}}'>
                                </div>

                                <div class="content">
                                    <div id='{{_id}}' class='header'><a href="/item/{{_id}}">{{title}}</a></div>
                                    {{title}}
                                    <div class="meta">{{format}}</div>
                                    <div class="description"></div>
                                    <div class="ui comments">

                                        <div class="ui horizontal divider">
                                            <i class="comments outline icon"></i>
                                        </div>
                                        <ul class="annotations">
                                            {{#each annotations}} {{> annotation}} {{/each}}

                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>
                    <!--{{/sortable}}-->
                {{/each}}









            </div>


        {{/if}}

</template>
